<h3>Admin</h3>

<div class="tickers">
  <div class="stat">
    <div>
      <%= @stats[:user_count] %>
    </div>
    <h4>Number of Users</h4>
  </div>

  <div class="stat">
    <div>
      <%= @stats[:task_count] %>
    </div>
    <h4>Number of Tasks</h4>
  </div>

  <div class="stat">
    <div>
      <%= @stats[:time_entry_count] %>
    </div>
    <h4>Number of Time Entries</h4>
  </div>
</div>
