// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$img_width: 924px;

.landing-container {
  padding: 20px;

  .main-info {
    text-align: center;
    padding: 20px;
    font-size: 32px;

    .brand {
      margin-bottom: 16px;

      a {
        text-decoration: none;
        font-size: 30px;

        .icon-list-alt {
          margin-top: 14px;
        }
      }

    }

    em {
      font-style: normal;
    }

    .screenshot {
      width: auto;
      margin: auto;
      margin-top: 30px;
      background-color: white;
      padding: 10px;
      display: inline-block;
      border: 1px solid #ddddd6;
    }
  }

  #additional-info {
    margin: auto;
    text-align: left;
    width: $img_width;
    font-size: 18px;
    padding: 20px;

    h3 {
      font-size: 20px;
      margin-bottom: 8px;
    }

    #features {
      margin-bottom: 24px;

      li {
        padding: 5px;
      }
    }

    #call-to-action {
      margin-top: 40px;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
    }
  }
}

.landing-nav {
  padding: 10px 40px;

  .links {
    a {
      text-decoration: underline;
    }
    font-size: 16px;
    float: right;
  }
}
