// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form-wrapper {
  width: 80%;
  margin: auto;
}

#tasks {
  width: 80%;
  margin: auto;

  .task {
    min-height: 80px;
    list-style: none;
    padding: 10px 5px;
    position: relative;

    .description {
      font-weight: bold;
      font-size: 120%;
      background-color: #efefef;
      padding: 12px 10px;

      .actions {
        float: right;
        margin-top: -5px;
      }
    }

    .task-body {
      background-color: white;
      padding: 10px;

      .time-entries {
        display: none;

        li {
          list-style: none;
        }
      }
    }
  }
}

.container {
  position: relative;
}

#toggle-archived-visibility {
  position: absolute;
  right: 100px;
  top: 0;
}
