// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form-wrapper {
  width: 80%;
  margin: auto;
}

#tasks {
  width: 80%;
  margin: auto;

  $task-padding: 10px;
  .task {
    min-height: 80px;
    list-style: none;
    padding: $task-padding;
    position: relative;

    &:nth-child(odd) {
      background-color: #efefef;
    }

    .description {
      font-weight: bold;
      font-size: 120%;
      margin-bottom: 10px;
    }

    .actions {
      position: absolute;
      top: $task-padding;
      right: $task-padding;
    }

    .time-entries {
      display: none;

      li {
        list-style: none;
      }
    }
  }
}

.container {
  position: relative;
}

#toggle-archived-visibility {
  position: absolute;
  right: 100px;
  top: 0;
}
